.green{
    background-color: #019682;
}

.orange{
    background-color: #CF7133;
 }

.light-orange{
    background-color: #E9A039;
}

.light-gray{
    background-color: #CACAB2;
}

.light-yellow{
    background: #F2CA72;
}
.black{
    background-color: rgb(32, 32, 32);
    }
.gray{
        background-color: gray;
    }

